@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* shared styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #1a0b2e;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.primary-btn {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) 100%;
  border-radius: 10000px;
  -webkit-border-radius: 10000px;
  -moz-border-radius: 10000px;
  -ms-border-radius: 10000px;
  -o-border-radius: 10000px;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  text-align: center;
  margin-bottom: 16px;
}

/* main styles */

/* header section related styles */
header {
  background-color: #1a0b2e;
  padding-top: 30px;
}
.logo {
  cursor: pointer;
}
.nav-icon {
  display: none;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.nav-links {
  gap: 32px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  color: white;
}
.nav-icon i {
  font-size: 1.5rem;
  color: white;
}

/* banner section related styles */
.banner {
  background-image: url("../assets/hero-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  border-top: 1px solid #412567;
}
.banner-container {
  text-align: center;
}
.banner-images {
  position: relative;
}
.banner-images img {
  width: 100%;
}
.banner-image-01 {
  position: relative;
}
.banner-image-02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.banner-images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge-text {
  font-size: 1.125rem;
  font-weight: 600;
}
.badge {
  padding: 8px 16px;
  background-color: #00ff88;
  box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
  position: absolute;
  top: 4%;
  left: 56%;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
}
.banner-title {
  font-size: 3.75rem;
  font-weight: 800;
  color: white;
  margin-top: 35px;
  margin-bottom: 8px;
}
.banner-des {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 24px;
}
.banner-info button {
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) 100%;
  border-radius: 10000px;
  -webkit-border-radius: 10000px;
  -moz-border-radius: 10000px;
  -ms-border-radius: 10000px;
  -o-border-radius: 10000px;
}
.banner-buttons {
  justify-content: center;
  gap: 8px;
}
#banner-button-2 {
  color: #00ff88;
  background: transparent;
  border: 1px solid #00ff88;
}

/* podcast section related styles */
.podcast {
  background-color: #1a0b2e;
  padding: 50px 0 120px 0;
}
.podcast-info {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 80px;
}
.podcast-description {
  font-size: 1rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 80px;
}
.review-cards {
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.review-card {
  text-align: center;
}
.review-card-title {
  font-size: 3rem;
  font-weight: 900;
  color: #00ff88;
  margin-bottom: 16px;
}
.review-card-des {
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
.fa-star {
  font-size: 2.4rem;
}
#star {
  display: flex;
  align-items: center;
  gap: 3px;
}

/* why choose section related styles */
.why-choose {
  background-color: #230e3d;
  padding: 120px 0;
}
.why-choose .section-title {
  margin-bottom: 40px;
}

.feature-cards {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.feature-card {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.feature-card img {
  margin-bottom: 16px;
}
.feature-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  margin-bottom: 16px;
}
.feature-card-des,
.episode-card-des,
.host-des {
  font-size: 1rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
#card-1 {
  grid-row: span 2;
}
#card-1 img {
  margin-top: 107.5px;
}
#card-2,
#card-3,
#card-4 {
  grid-column: span 2;
}

/* episodes section related styles */
.episodes {
  background-color: #1a0b2e;
  padding: 120px 0;
}
.episodes .section-title {
  margin-bottom: 40px;
}
.episode-cards {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.episode-card {
  background-color: #250d44;
  cursor: pointer;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.episode-video {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}
.episode-card-info {
  padding: 24px;
}
.episode-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  margin-bottom: 12px;
}
.episode-card-des {
  margin-bottom: 12px;
}
.clock {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 24px;
  font-weight: 600;
  color: #00ff88;
}

/* host section related styles */
.host {
  background-color: #1a0b2e;
  padding-bottom: 120px;
}
.host .section-title {
  margin-bottom: 40px;
}
.host-banner {
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.host-name {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}
.host-des {
  margin-bottom: 16px;
}
.host-icons {
  align-items: center;
  gap: 12px;
}
.host-icons > div {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #533c72;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* footer section related styles */
footer {
  background-image: url(../assets/footer-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}
.footer-container {
  text-align: center;
}
.footer-cards {
  justify-content: center;
  gap: 40px;
  margin-bottom: 32px;
}
.footer-card {
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.footer-logo {
  margin-bottom: 32px;
}
.footer-card-des {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.footer-des {
  max-width: 544px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 12px;
}

/* Responsive codes */

/* for mobile devices */
@media screen and (max-width: 576px) {
  .navbar,
  .container {
    padding: 0 16px;
  }

  .section-title {
    font-size: 2rem;
  }

  .logo {
    width: 50%;
  }
  .navbar {
    padding-bottom: 30px;
  }
  .nav-links {
    display: none;
  }
  .navbar button {
    display: none;
  }
  .nav-icon {
    display: block;
  }

  .banner {
    padding: 40px 0;
  }
  .banner-images img {
    width: 80%;
    margin-top: 20px;
  }
  #banner-img-02 {
    width: 55%;
  }
  .banner-info button {
    padding: 12px 16px;
  }
  .badge {
    top: 10%;
    left: 63%;
  }

  .podcast {
    background-color: #1a0b2e;
    padding: 40px 0 40px 0;
  }
  .podcast-info,
  .podcast-description {
    margin-bottom: 40px;
  }
  .review-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .why-choose {
    padding: 40px 0 40px 0;
  }
  .feature-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .feature-card {
    padding: 24px;
  }
  #card-1,
  #card-2,
  #card-3,
  #card-4 {
    grid-column: auto;
    grid-row: auto;
  }
  #card-1 img {
    margin-top: 0;
  }

  .episodes {
    padding: 40px 0 60px 0;
  }
  .episode-cards {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .episode-video iframe {
    width: 100%;
    height: 100%;
  }
  .episode-card-info {
    padding: 16px;
  }

  .host {
    padding-bottom: 40px;
  }
  .host-banner {
    flex-direction: column;
  }
  .host-info {
    text-align: center;
  }
  .host-icons {
    justify-content: center;
  }

  footer {
    padding: 40px 0;
  }
  .footer-logo {
    width: 65%;
  }
  .footer-cards {
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* for tablet devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .container,
  .footer-container {
    padding: 0 16px;
  }

  .navbar {
    padding-bottom: 30px;
  }
  .nav-links {
    display: none;
  }
  .navbar button {
    display: none;
  }
  .nav-icon {
    display: block;
  }

  .banner {
    padding: 60px 0;
  }
  .banner-images img {
    width: 85%;
    margin-top: 20px;
  }
  #banner-img-02 {
    width: 55%;
  }
  .badge {
    top: 10%;
    left: 58%;
  }

  .why-choose {
    padding: 60px 0 60px 0;
  }
  .feature-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .feature-card {
    padding: 30px;
  }
  #card-1,
  #card-2,
  #card-3,
  #card-4 {
    grid-column: auto;
    grid-row: auto;
  }
  #card-1 img {
    margin-top: 0;
  }

  .episodes {
    padding: 40px 0 60px 0;
  }
  .episode-cards,
  .review-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .episode-video iframe {
    width: 100%;
    height: 100%;
  }
  .episode-card-info {
    padding: 18px;
  }

  .host {
    padding-bottom: 60px;
  }
  .host-banner {
    flex-direction: column;
  }
  .host-info {
    text-align: center;
  }
  .host-icons {
    justify-content: center;
  }

  footer {
    padding: 60px 0;
  }
  .footer-logo {
    width: 65%;
  }
  .footer-cards {
    flex-wrap: wrap;
  }
}
